<!-- <nav class="nav nav-pills nav-fill">
  <a class="nav-link active" routerLink="/addperson" routerLinkActive="active" >Add Person</a>  
  <a class="nav-link" routerLink="/showpersons" routerLinkActive="active">Show Persons</a>   
</nav>  -->
<div class="container mt-5 shadow-sm p-5 mb-5 bg-body-tertiary rounded border">  
  
  
<button type="button" class="btn btn-secondary button-spacing"  style="margin-left: 300px;"(click)="navigateToAddCourse()">
  ADD COURSES
 </button>

 <button type="button" class="btn btn-secondary" (click)="navigateToAddStudent()">
  ADD STUDENTS
 </button>

 </div>

 <router-outlet></router-outlet> 

<!-- <a routerLink="/add-course">Add Course</a> -->

<!-- <app-add-person></app-add-person>
<app-show-persons></app-show-persons> -->